/*
0-600px: phone
600-900px: tablet portrait
900-1200px: tablet landscape
[1200-1800px] default version
1800px + : large desktop
*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 60%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 70%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
}

@font-face {
  src: url("../../fonts/MonacoRegular.ttf") format("truetype");
  font-family: "Monaco";
}
.about p {
  line-height: 2.5rem;
  font-family: "Monaco";
  font-size: 1.3rem;
  color: #8a8a8a;
  padding: 8rem;
}

main pre {
  font-family: "Monaco", monospace;
  line-height: 2.5rem;
  font-size: 1.3rem;
  color: #8a8a8a;
}
main pre > .tree-title {
  color: #6d9eff;
}
main pre a {
  color: #000000;
  text-decoration: none;
}
main pre a:hover {
  color: #6d9eff;
}

header {
  font-family: "Monaco", monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 3rem;
}
header > .title p {
  font-size: 1.5rem;
}
header > .links {
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
}
header > .links a {
  color: black;
  text-decoration: none;
}
header > .links a:hover {
  color: #6d9eff;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.about,
.projects,
.stack-1,
.stack-2 {
  flex: 1;
  display: flex;
  justify-content: center;
}
