@font-face {
  src: url("fonts/MonacoRegular.ttf") format("truetype");
  font-family: "Monaco";
}
html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

header {
  font-family: "Monaco", monospace;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 3rem;
}
header > .links {
  display: flex;
  gap: 2rem;
}
header > .links a {
  color: black;
  text-decoration: none;
}
header > .links a:hover {
  color: #6d9eff;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
main pre {
  font-family: "Monaco", monospace;
  line-height: 2.5rem;
  font-size: 1.3rem;
  color: #8a8a8a;
}
main pre > .tree-title {
  color: #6d9eff;
}
main pre a {
  color: #000000;
  text-decoration: none;
}
main pre a:hover {
  color: #6d9eff;
}

.about,
.projects,
.stack-1,
.stack-2 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about p {
  line-height: 2.5rem;
  font-family: "Monaco";
  font-size: 1.3rem;
  color: #8a8a8a;
  padding: 8rem;
}
