@use "variables";

// Fonts
@font-face {
  src: url("./fonts/MonacoRegular.ttf") format("truetype");
  font-family: "Monaco";
}

// Reset
html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

// Body
body {
  box-sizing: border-box;
}

// Header
header {
  font-family: "Monaco", monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 3rem;

  > .title {
    p {
      font-size: 1.5rem;
    }
  }

  > .links {
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: variables.$links-blue;
      }
    }
  }
}

// Main
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;

  pre {
    font-family: "Monaco", monospace;
    line-height: 2.5rem;
    font-size: 1.3rem;
    color: #8a8a8a;

    > .tree-title {
      color: variables.$links-blue;
    }

    a {
      color: variables.$links-black;
      text-decoration: none;
      &:hover {
        color: variables.$links-blue;
      }
    }
  }
}

.about,
.projects,
.stack-1,
.stack-2 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about {
  p {
    line-height: 2.5rem;
    font-family: "Monaco";
    font-size: 1.3rem;
    color: variables.$main-text;
    padding: 8rem;
  }
}
