@use "../abstracts/mixins";

@font-face {
  src: url("../../fonts/MonacoRegular.ttf") format("truetype");
  font-family: "Monaco";
  font-display: swap;
}

footer {
  pre {
    justify-self: start;
    align-self: center;
    margin: 0rem 0rem 2rem 2rem;
    font-family: "Monaco", monospace;
    font-size: 1.2rem;
    color: var(--color-blue);

    @include mixins.respond(tab-port) {
      font-size: 1.5rem;
      line-height: 3rem;
      margin: 0;
    }

    @include mixins.respond(phone) {
      font-size: 1.8rem;
      line-height: 3rem;
      margin: 0;
    }
  }

  @include mixins.respond(tab-port) {
    justify-self: center;
    margin: 0;
    padding: 5rem;
  }

  @include mixins.respond(phone) {
    justify-self: center;
    margin: 0;
    padding: 10rem;
  }
}
