@use "../abstracts/mixins";
@use "../abstracts/variables";

header {
  font-family: "Monaco", monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 3rem;

  > .title {
    p {
      font-size: 1.5rem;
    }
  }

  > .links {
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: variables.$links-blue;
      }
    }
  }
}
