@use "../abstracts/mixins";

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;

  @include mixins.respond(tab-land) {
    flex-wrap: wrap;
  }
}

.about,
.projects,
.stack-1,
.stack-2 {
  flex: 1;
  display: flex;
  justify-content: center;

  @include mixins.respond(tab-land) {
    min-width: 50vw;
  }

  @include mixins.respond(phone) {
    min-width: 100vw;
    padding: 5rem;
  }
}
