@use "../abstracts/mixins";
@use "../abstracts/variables";

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.about,
.projects,
.stack-1,
.stack-2 {
  flex: 1;
  display: flex;
  justify-content: center;
}
