@use "../abstracts/mixins";

.about,
.projects,
.stack-1,
.stack-2 {
  flex: 1;
  display: flex;
  justify-content: center;

  @include mixins.respond(tab-land) {
    min-width: 50vw;
  }

  @include mixins.respond(phone) {
    min-width: 100vw;
    padding: 5rem;
  }
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "about projects stack1 stack2";
  justify-content: center;
  align-items: center;

  @include mixins.respond(phone) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "about" "projects" "stack1" "stack2";
  }
}

.about {
  grid-area: "about";
}

.projects {
  grid-area: "projects";
}

.stack-1 {
  grid-area: "stack1";
}

.stack-2 {
  grid-area: "stack2";
}
