html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  padding: 3rem 5rem 1rem 5rem;
  display: grid;
  grid-template-columns: 1fr 10vw 1fr;
  grid-template-rows: 15vh 1fr 1fr 5vh;
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
  font-family: monaco, monospace;
}

footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
}

footer p {
  font-size: 1.5rem;
}

ol,
ul {
  list-style: none;
  font-size: 2rem;
  line-height: 4rem;
}

li {
  padding-left: 2.5rem;
}

a:visited {
  color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-weight: 200;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
a {
  font-size: 2rem;
}
p {
  font-size: 2rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-self: center;
}

.grid-container-content {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.stack {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.learn {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.projects {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.develop {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
