html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  padding: 4rem 6rem 4rem 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 20fr;
}

header {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
  font-family: Helvetica, sans-serif;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-family: "monaco", monospace;
}

button:hover {
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

a:visited,
:link {
  color: #2299e3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  font-weight: 100;
}

h1 {
  font-size: 2.6rem;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

pre {
  font-family: monaco, monospace;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.tree-title {
  color: #eb455f;
}

.stack {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 15vh;
}

.learn {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.projects {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 12vh;
}

.develop {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 40vh;
}
