/* Reset */

html {
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* Body */

body {
  box-sizing: border-box;
  padding: 4rem 6rem 4rem 6rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 20fr;
}

a:visited,
:link {
  color: rgb(56, 56, 56);
  text-decoration: none;
}

a[href^="mailto:"] {
  color: rgb(56, 56, 56);
}

h1 {
  font-size: 2.6rem;
  font-weight: 100;
}

li {
  list-style: none;
  font-family: monaco, monospace;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* Header */

header {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  font-family: Helvetica, sans-serif;
}

header a {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: "monaco", monospace;
  font-weight: 100;
  border: 1px solid rgb(74, 74, 74);
  border-radius: 0.2em;
  background-color: #efefef;
}

header a:hover {
  background-color: #d7d6d6;
}

button {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-family: "monaco", monospace;
  font-weight: 100;
}

button:hover {
  cursor: pointer;
}

.bar {
  flex-grow: 1;
  border-radius: 0.3em;
  background-color: #efefef;
}

.title {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Main */

pre {
  font-family: monaco, monospace;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

pre a:visited,
:link {
  color: rgb(56, 56, 56);
  text-decoration: none;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tree-title {
  color: #eb455f;
}

.tree-subtitle {
  color: #2299e3;
}

.stack,
.learn,
.projects,
.develop {
  justify-self: center;
}

.stack {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 15vh;
}

.learn {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.projects {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 10vh;
}

.develop {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  margin-top: 40vh;
}
