@use "../abstracts/mixins";

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include mixins.respond(tab-land) {
    font-size: 56.25%;
  }
  @include mixins.respond(tab-port) {
    font-size: 50%;
  }
  @include mixins.respond(big-desk) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
