@use "../abstracts/mixins";

@font-face {
  src: url("../fonts/MonacoRegular.ttf") format("truetype");
  font-family: "Monaco";
}

.mobile-title {
  pre {
    font-family: "Monaco", monospace;
  }
}

.about {
  p {
    line-height: 2.7rem;
    font-family: "Monaco", monospace;
    font-size: 1.35rem;
    color: var(--color-black);
    padding: 0 6vw;

    @include mixins.respond(phone) {
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }
}

.musician {
  color: var(--color-grey);
}

main {
  pre {
    font-family: "Monaco", monospace;
    line-height: 2.7rem;
    font-size: 1.35rem;
    color: var(--color-black);

    > .tree-title {
      color: var(--color-grey);
    }

    a {
      color: var(--color-black);
      text-decoration: none;
      &:hover {
        color: var(--color-blue);
      }
    }

    @include mixins.respond(phone) {
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }
}

footer {
  pre {
    font-family: "Monaco", monospace;
    font-size: 1.3rem;
    color: var(--color-blue);

    @include mixins.respond(phone) {
      font-size: 1.8rem;
      line-height: 3rem;
    }
  }
  justify-self: end;
  align-self: center;
  margin: 0rem 2rem 2rem 0rem;

  @include mixins.respond(phone) {
    justify-self: center;
    padding: 10rem;
    margin: 0;
  }
}
